.sidebar{  
  h2{
    font-size: 2rem;
    text-transform: uppercase;
  }
  .inner{
    padding: 1rem;
  }
  .block{
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    border-radius: 3px;
    background: $light-grey;
    border: 1px solid $grey;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}
